[Unit]
Description=rtsp2mjpeg
After=network.target

[Service]
User=pi
Type=simple
ExecStart=/usr/bin/vlc -vvv --intf=dummy --no-audio rtsp://username:password@CAMERAIP:CAMERAPORT/STREAM --sout "#transcode{vcodec=mjpg,venc=ffmpeg{strict=-2,threads=1},scale=1.0,acodec=none}:standard{access=http{mime=multipart/x-mixed-replace;boundary=--7b3cc56e5f51db803f790dad720ed50a},mux=mpjpeg,dst=:10001}" --network-caching=50 --sout-mux-caching=50 --file-caching=50 --live-caching=50

[Install]
WantedBy=multi-user.target
